{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">


  <link rel="stylesheet" href="{% static 'dist/css/templatemo-style.css' %}">
  <link rel="stylesheet" href="{% static 'dist/css/aos.css' %}">

</head>

{% block content %}
<div class="logo" style="font-family:fantasy">
  <!-- <p data-aos = "zoom-in" data-aos-delay="0" style="padding-top: 30px;">Welcome To AISSMS College Of Engineering</p> -->

  <img src="{% static 'dist/img/aissms.jpeg' %}" alt="">
  <!-- <div style="background-image: sr;"> </div> -->

</div>

  <div id="loader-wrapper">            
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div>
{% endblock content %}

<script src="{% static 'dist/js/templatemo-script.js' %}"></script>
<script src="{% static 'dist/js/jquery-3.5.1.min.js' %}"></script>
